<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function createUser() {
        console.log("hi")
        window.location.href="/createuser"
    }
    function showUser() {
        console.log("bye")
    }
    function requestImage(){

    }
</script>

<body style="width: 100%; height: 100%; display:flex; justify-content: center; align-items: center;">


<button style="width: 100px; height: 100px;" onclick="createUser();">cu</button>
<button style="width: 100px; height: 100px;" onclick="requestImage();">ri</button>
<!--<button onclick="showUser();">su</button>-->

</body>
</html>